<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [14]:
# Nama
print("Hello,my name is Kenneith")
name="Kenneith"
print("Hello,my name is",name)
print("Hello,my name is "+ name)
print("Hello,my name is {}".format(name))

Hello,my name is Kenneith
Hello,my name is Kenneith
Hello,my name is Kenneith
Hello,my name is Kenneith

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [26]:
# Soal a
a=4*15/12
print(a)

# Soal b
b= 8**(1/3)
print(b)

# Soal c
c=50000/7500
d=50000%7500
print(int(c))
print(d)

5.0
2.0
6
5000

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [36]:
# Konversi
a="1000"
b=int(a)
print(b,int)

d=5.25
e=int(d)
print(e,int)

f=5
g=float(f)
print(g,float)

h=1000
k=str(h)
print(k,str)

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [38]:
a="If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
# 1
b=a[20:31]
print(b)

# 2
c=list (a.split())
print(c)

# 3
d=a[::-1]
print(d)

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [3]:
# Fakultas
fakultas = ("School of Business and Management","School of Creative Industry","School of Tourism","School of Information Technology","School of Medicine","School of Dental Medicine","School of Physchology","School of Communication Science and Media Business","School of Entrepreneurship and Humanities")
print("jumlah",len(fakultas))
print("index",fakultas.index("School of Information Technology"))

jumlah 9
index 3

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [10]:
# 1
favorit = ["Nasi Goreng", "Sushi", "Pizza"]

# 2
for makanan in favorit:
  print(makanan)

# 3
for makanan in favorit:
  print("aku ingin pesan {}".format(makanan))

# 4
favorit[1]="Siomay"
print("aku ingin mengganti "+favorit[1])

Nasi Goreng
Sushi
Pizza
aku ingin pesan Nasi Goreng
aku ingin pesan Sushi
aku ingin pesan Pizza
aku ingin mengganti Siomay

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [14]:
# 1
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# 2
gabung=set1.union(set2)
print(gabung)

# 3
hasil=bool(set1&set3)
print(hasil)

# 4
hasil=bool(set1&set4)
print(hasil)

{1, 2, 3, 4, 6, 8}
False
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [24]:
# Program Bayar Listrik
listrik=int(input("Masukan jumlah penggunaan listrik (kWh):"))

if listrik<100:
  listrik=100
if listrik<1000:
  harga=listrik*1000
else:
  harga=(listrik*2000)
  harga=harga+(harga*10/100)

print(harga)

Masukan jumlah penggunaan listrik (kWh):3000
6600000.0

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [33]:
# Program Angkot Abdimas UC
jumlah=int(input("masukan jumlah peserta:"))
if jumlah<0:
  print("jumlah orang tidak bisa negatif")
elif (jumlah//10>=0) & (jumlah%10==0):
  print(jumlah//10)
else:
  print((jumlah//10)+1)

masukan jumlah peserta:12
2

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [37]:
import numpy as np
import random

# 1
hari = np.array(["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"])

In [38]:
# 2
hari_sorted = np.sort(hari)

In [39]:
# 3
random_hari = random.choice(hari_sorted)
print(f"Selamat hari {random_hari} adalah hari baikmu bulan ini!")

Selamat hari Selasa adalah hari baikmu bulan ini!

In [43]:
# 4
matriks = np.random.randint(1, 7, size=(3, 4))
print("Matriks 3x4:")
print(matriks)
print("Shape matriks:", matriks.shape)
print("Dimensi matriks:", matriks.ndim)

Matriks 3x4:
[[4 6 1 3]
 [1 3 2 2]
 [1 1 3 1]]
Shape matriks: (3, 4)
Dimensi matriks: 2

In [49]:
# 5

# Membuat matriks
matriks = np.array([[1, 2, 3, 4],
                    [5, 6, 7, 8],
                    [9, 10, 11, 12]])

# Mencetak elemen kolom ketiga dari matriks (indeks 2)
kolom_ketiga = matriks[:, 2]
print("Elemen kolom ketiga dari matriks:", kolom_ketiga)

Elemen kolom ketiga dari matriks: [ 3  7 11]

In [51]:
# 6
matriks_asli = np.array([[1, 2, 3, 4],
                          [5, 6, 7, 8],
                          [9, 10, 11, 12]])
# Menggunakan reshape untuk mengubah ukuran matriks menjadi (2, 6)
matriks_reshaped = matriks_asli.reshape(2, 6)

# Mencetak hasil
print("Matriks yang direshape menjadi (2, 6):")
print(matriks_reshaped)

Matriks yang direshape menjadi (2, 6):
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [53]:
import pandas as pd

# 1
import pandas as pd

# Membuat list
data = ["Information", "Systems", "for", "Business"]

# Membuat Pandas Series dari list
series = pd.Series(data)

# Mencetak Series
print(series)


# 2
import pandas as pd

# Membuat dictionary
data = { "brand": "Ford", "model": "Mustang", "year": 1964 }

# Membuat DataFrame dari dictionary
df = pd.DataFrame([data])  # Menggunakan list untuk membuat satu baris

# Mencetak DataFrame
print(df)

0    Information
1        Systems
2            for
3       Business
dtype: object
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [56]:
# 3
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Mencetak 5 baris pertama dari DataFrame
print(df.head())

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [58]:
# 4
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Menampilkan kolom 'State' untuk melihat kota-kota
kota_unik = df['State'].unique()  # Mengambil nilai unik dari kolom 'State'
print("Kota-kota yang ada dalam dataset:")
print(kota_unik)

Kota-kota yang ada dalam dataset:
['New York' 'California' 'Florida']

In [59]:
# 5
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Mengambil 10 baris acak dari dataset
df_random = df.sample(n=10, random_state=42)  # random_state untuk reproduktif

# Menampilkan 5 baris pertama dari dataset baru
print("5 baris pertama dari dataset acak:")
print(df_random.head())

5 baris pertama dari dataset acak:
    R&D Spend  Administration  Marketing Spend       State     Profit
13   91992.39       135495.07        252664.93  California  134307.35
39   38558.51        82982.09        174999.30  California   81005.76
30   61994.48       115641.28         91131.24     Florida   99937.59
45    1000.23       124153.04          1903.93    New York   64926.08
17   94657.16       145077.58        282574.31    New York  125370.37

In [61]:
# 6
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Menampilkan informasi singkat dari DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [63]:
# 7
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Mengambil data dari kota 'California'
california_data = df[df['State'] == 'California']

# Menampilkan kolom 'R&D Spend' dan 'Marketing Spend'
result = california_data[['R&D Spend', 'Marketing Spend']]

# Mencetak hasil
print(result)

    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [64]:
# 8
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Memeriksa missing values di setiap kolom
missing_values = df.isnull().sum()

# Mencetak jumlah missing values per kolom
print("Jumlah missing values di setiap kolom:")
print(missing_values)

Jumlah missing values di setiap kolom:
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [66]:
# 9
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Menampilkan jumlah baris sebelum penghapusan
print("Jumlah baris sebelum penghapusan:", df.shape[0])

# Menghapus data yang memiliki Profit di bawah 50000
df_filtered = df[df['Profit'] >= 50000]

# Menampilkan jumlah baris setelah penghapusan
print("Jumlah baris setelah penghapusan:", df_filtered.shape[0])

# Mencetak 5 baris pertama dari DataFrame yang sudah difilter
print(df_filtered.head())

Jumlah baris sebelum penghapusan: 50
Jumlah baris setelah penghapusan: 46
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [67]:
# 10
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

# Mengurutkan DataFrame berdasarkan 'Marketing Spend' dari terbesar ke terkecil
df_sorted = df.sort_values(by='Marketing Spend', ascending=False)

# Mencetak 5 baris pertama dari DataFrame yang sudah diurutkan
print("DataFrame yang diurutkan berdasarkan 'Marketing Spend':")
print(df_sorted.head())

DataFrame yang diurutkan berdasarkan 'Marketing Spend':
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [68]:
# 1
import pandas as pd

# URL dari dataset
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv"

# Mengimpor dataset ke dalam DataFrame
df = pd.read_csv(url)

In [69]:
# 2
print("10 data random dari dataset:")
print(df.sample(10))

10 data random dari dataset:
      No  X1 transaction date  X2 house age  \
315  316             2013.083          15.6
319  320             2013.250          34.6
397  398             2013.417          13.1
134  135             2012.667          33.4
377  378             2013.333           3.9
51    52             2013.083          31.3
178  179             2013.500          13.1
227  228             2012.917          32.4
213  214             2013.083           6.2
120  121             2013.167          13.3

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
315                              1756.41100                                2
319                               272.67830                                5
397                              1164.83800                                4
134                               186.96860                                6
377                                49.66105                                8
51                               1758.40600                                1
178                              1144.43600                                4
227                               265.06090                                8
213                                90.45606                                9
120                               492.23130                                5

     X5 latitude  X6 longitude  Y house price of unit area
315     24.98320     121.51812                        27.3
319     24.95562     121.53872                        26.9
397     24.99156     121.53406                        32.2
134     24.96604     121.54211                        42.2
377     24.95836     121.53756                        56.8
51      24.95402     121.55282                        20.7
178     24.99176     121.53456                        36.7
227     24.98059     121.53986                        40.2
213     24.97433     121.54310                        58.0
120     24.96515     121.53737                        31.3

In [70]:
# 3
print("\nInformasi deskriptif dari dataset:")
print(df.describe())

Informasi deskriptif dari dataset:
               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [71]:
# 4
# Menghapus kolom 'No'
df.drop(columns=['No'], inplace=True)

# Mengubah nama kolom
df.columns = ['transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station',
              'number_of_convinience_stores', 'latitude', 'longitude',
              'house_price_of_unit_area']

In [73]:
# 5
missing_values = df.isnull().sum()
print("\nJumlah missing values di setiap kolom:")
print(missing_values)

Jumlah missing values di setiap kolom:
transaction_date                       0
house_age                              0
distance_to_the_nearest_MRT_station    0
number_of_convinience_stores           0
latitude                               0
longitude                              0
house_price_of_unit_area               0
dtype: int64